@media only screen and (max-width: 1000px) {
  .shopping-left,
  .cart-left,
  .article-left {
    width: 65%;
  }
  .shopping-right,
  cart-right,
  .article-right {
    width: 35%;
  }
}
@media only screen and (max-width: 800px) {
  .shopping-left,
  .cart-left,
  .article-left {
    width: 60%;
  }
  .shopping-right,
  .cart-right,
  .article-right {
    width: 40%;
  }
  .shopping-data-left,
  .shopping-data-right {
    width: 100%;
  }
  .shopping-data-right {
    padding: 0;
  }
  .search-flex {
    width: 50%;
  }
}
@media only screen and (max-width: 700px) {
  .head {
    border-bottom: 1px solid #f5f5f5;
  }
  .search-bar {
    display: none;
  }
  .nav-content {
    width: 40%;
  }
  .brand-flex {
    width: 16.6%;
  }
  .product-flex {
    width: 25%;
  }
  .cart-flex {
    width: 100%;
  }
  .footer-flex {
    width: 33.3%;
  }
  .search, .slide, .brand, .product, .shopping, .cart, .article {
    border-bottom: 1px solid #f5f5f5;
  }
}
@media only screen and (max-width: 600px) {
  .content-wrapper {
    padding: 65px 0 65px 0;
  }
  .nav-header {
    display: none;
  }
  .nav-content {
    width: 50%;
  }
  .brand-flex {
    width: 20%;
  }
  .product-flex {
    width: 33.3%;
  }
  .shopping-left,
  .cart-left,
  .shopping-right,
  .cart-right,
  .article-left,
  .article-right {
    width: 100%;
  }
  .mobile,
  .order{
    display: block;
  }
 #add-to-cart1 {
    display: none;
  }
  #load-more {
    width: 100%;
  }
  .footer-flex {
    width: 50%;
  }
  .footer-image li {
    width: 25%;
  }
}
@media only screen and (max-width: 500px) {
  .nav-content {
    width: 60%;
  }
  .search-flex {
    width: 100%;
  }
  .brand-flex {
    width: 25%;
  }
  .product-flex {
    width: 50%;
  }
}
@media only screen and (max-width: 400px) {
  .nav-content {
    width: 70%;
  }
  .footer-flex {
    width: 100%;
  }
}
