<div class="footer-box" itemscope itemtype="https://schema.org/WPFooter">
  <div
    class="footer-flex">
    <div class="footer-content">
      <h2 itemprop="name">Shopping</h2>
      <ul>
        <li>
          <a href="../page/brand.html?product=apple" title="Apple" itemprop="url"
            >Apple</a
          >
        </li>
        <li>
          <a href="../page/brand.html?product=samsung" title="Samsung" itemprop="url"
            >Samsung</a
          >
        </li>
        <li>
          <a href="../page/brand.html?product=xiaomi" title="Xiaomi" itemprop="url"
            >Xiaomi</a
          >
        </li>
        <li>
          <a href="../page/brand.html?product=oppo" title="Oppo" itemprop="url"
            >Oppo</a
          >
        </li>
        <li>
          <a href="../page/brand.html?product=vivo" title="Vivo" itemprop="url"
            >Vivo</a
          >
        </li>
        <li>
          <a href="../page/allbrand.html" title="Lainnya" itemprop="url"
            >Lainnya</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div
    class="footer-flex">
    <div class="footer-content">
      <h2 itemprop="name">Service</h2>
      <ul>
        <li>
          <a href="#" title="Warehouse" itemprop="url"
            >Warehouse</a
          >
        </li>
        <li>
          <a href="#" title="IMEI Injection" itemprop="url"
            >IMEI Injection</a
          >
        </li>
        <li>
          <a href="#" title="Customer Service" itemprop="url"
            >Customer Service</a
          >
        </li>
        <li>
          <a href="#" title="Webinar" itemprop="url"
            >Webinar</a
          >
        </li>
        <li>
          <a href="#" title="Studios" itemprop="url"
            >Studios</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div
    class="footer-flex">
    <div class="footer-content">
      <h2 itemprop="name">Information</h2>
      <ul>
        <li>
          <a href="#" title="About Us" itemprop="url"
            >About Us</a
          >
        </li>
        <li>
          <a href="#" title="Help Center" itemprop="url"
            >Help Center</a
          >
        </li>
        <li>
          <a href="#" title="Contact Us" itemprop="url"
            >Contact Us</a
          >
        </li>
        <li>
          <a href="#" title="Career" itemprop="url"
            >Career</a
          >
        </li>
         <li>
          <a
            href="#"
            title="Terms & Conditions"
            itemprop="url"
            >Terms & Conditions</a
          >
        </li>
        <li>
          <a
            href="#"
            title="User Policy"
            itemprop="url"
            >User Policy</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div
    class="footer-flex">
    <div class="footer-content">
      <h2 itemprop="name">Address</h2>
      <p>
        Dahromo 1, RT.02, Kel. Segoroyoso, Kec. Pleret, Kabupaten Bantul, Daerah Istimewa Yogyakarta 55791
      </p>
    </div>
  </div>
</div>
<div class="credit-footer">
  <p>
    &copy;
    <span
      itemprop="copyrightHolder"
      itemscope
      itemtype="https://schema.org/Organization"
    >
      <a
        href="https://www.instagram.com/azzabuza"
        itemprop="url"
        title="Azza Kreatif Digital Studio"
      >
        <span itemprop="name">Azza Kreatif Digital Studio</span>
      </a> </span
    >Copyright is protected by law.
  </p>
</div>
