<div
  class="head"
  id="headweb"
  itemscope
  itemtype="http://schema.org/Organization"
>
    <div class="logo">
      <div
        class="logo-image"
        style="display: none;"
        itemprop="logo"
        itemscope
        itemtype="http://schema.org/ImageObject"
      >
        <img
          src="../asset/image/logo.png"
          alt="Centraphone"
          loading="lazy"
          itemprop="url"
        />
      </div>
      <div class="logo-info">
        <h1 itemprop="name">YOUR STORE</h1>
        <p itemprop="slogan">Mobile Distributor</p>
      </div>
    </div>
  <div
    class="nav-header"
    itemscope
    itemtype="http://schema.org/SiteNavigationElement"
  >
    <ul>
      <li><a href="/" title="Home" itemprop="url">Home</a>
      </li>
      <li>
        <a href="../page/allbrand.html" title="Brand" itemprop="url"
          >Brand</a
        >
      </li>
      <li>
        <a href="#" title="Service" itemprop="url">Service</a>
      </li>
      <li>
        <a href="#" title="Contact" itemprop="url">Contact</a>
      </li>
    </ul>
  </div>
  <div class="nav-icon">
    <a
      class="cart-btn"
      href="../page/cart.html"
      title="Keranjang Belanja"
      itemscope
      itemtype="http://schema.org/Cart"
      itemprop="potentialAction"
    >
      <svg
        class="line"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="none"
        stroke="currentColor"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
        <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
        <path d="M17 17h-11v-14h-2" />
        <path d="M6 5l14 1l-1 7h-13" />
      </svg>
      <span id="cart-count">0</span>
    </a>

    <form
      class="search-bar"
      action="../page/search.html"
      method="get"
    >
      <svg
        class="line"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="none"
        stroke="currentColor"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
        <path d="M21 21l-6 -6" />
      </svg>
      <input
        type="text"
        name="query"
        placeholder="Search product..."
        autocomplete="off"
      />
    </form>
    
    <label class="nav-menu" for="navigationmenu" title="Navigation menu">
      <svg
        class="line"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="none"
        stroke="currentColor"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M4 6l16 0" />
        <path d="M4 12l16 0" />
        <path d="M4 18l16 0" />
      </svg>
    </label>
  </div>
</div>
<input class="checkmenu" id="navigationmenu" type="checkbox" />
<div class="nav-box">
  <div class="nav-content">
    <label class="nav-close" for="navigationmenu">
      <svg
        class="line"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="none"
        stroke="currentColor"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M18 6l-12 12" />
        <path d="M6 6l12 12" />
      </svg>
    </label>
    <div
      class="nav-hero"
      itemscope
      itemtype="http://schema.org/SiteNavigationElement"
    >
      <h3 itemprop="name">Navigation</h3>
      <ul>
        <li>
          <a href="#" title="Warehouse" itemprop="url"
            >Warehouse</a
          >
        </li>
        <li>
          <a href="#" title="Education" itemprop="url"
            >Education</a
          >
        </li>
        <li>
          <a href="#" title="Promotion" itemprop="url"
            >Promotion</a
          >
        </li>
        <li>
          <a href="#" title="Affiliate" itemprop="url"
            >Affiliate</a
          >
        </li>
        <li>
          <a href="#" title="Reseller" itemprop="url"
            >Reseller</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
