<div class="mobile-box">
  <div class="mobile-flex">
    <a class="mobile-content" href="/" title="Home">
      <svg
        class="line"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="none"
        stroke="currentColor"
      >
        <path d="M19 8.71l-5.333 -4.148a2.666 2.666 0 0 0 -3.274 0l-5.334 4.148a2.665 2.665 0 0 0 -1.029 2.105v7.2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-7.2c0 -.823 -.38 -1.6 -1.03 -2.105" />
        <path d="M16 15c-2.21 1.333 -5.792 1.333 -8 0" />
      </svg>
    </a>
  </div>
  <div class="mobile-flex">
    <a class="mobile-content" href="../page/search.html" title="Search">
      <svg
        class="line"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="none"
        stroke="currentColor"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
        <path d="M21 21l-6 -6" />
      </svg>
    </a>
  </div>
  <div class="mobile-flex">
    <a class="mobile-content" href="../page/allbrand.html" title="Brand">
      <svg
        class="line"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="none"
        stroke="currentColor"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
          d="M6 5a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-14z"
        />
        <path d="M11 4h2" />
        <path d="M12 17v.01" />
      </svg>
    </a>
  </div>
  <div class="mobile-flex">
    <a class="mobile-content" href="#" title="Service">
      <svg
        class="line"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="none"
        stroke="currentColor"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
          d="M3 9a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9z"
        />
        <path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2" />
      </svg>
    </a>
  </div>
   <div class="mobile-flex">
    <a class="mobile-content" href="#" title="Contact">
      <svg
        class="line"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="none"
        stroke="currentColor"
      >
        <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
      </svg>
    </a>
  </div>
</div>
